* {
  font-family: Rubik, 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  padding: 2vh 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav div {
  display: flex;
  align-items: center;
  gap: 1vw;
}

nav a {
  color: rgb(190, 190, 190);
  text-decoration: none;
  opacity: 1;
  animation: fadeIn 1s ease-in;
  transition: color 0.5s ease-in;
}

nav a:hover {
  color: white;
}

#logo-small {
  height: 6vh;
}


/* Agregar Fade In */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}